.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 30px;
}
.container-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.container-right {
  background-color: peachpuff;
}
