.cart {
  border-radius: 10px;
  height: 520px;
  width: 300px;
  background-color: peachpuff;
}
.cart-center {
  width: 280px;
  margin: 10px auto;
}
.cart-img {
  margin: 0 auto;
  border-radius: 10px;
  max-width: 280px;
  height: 200px;
}
.description {
  width: 280px;
  text-align: justify;
}
.cart-btn {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: sandybrown;
  border-radius: 10px;
  border: none;
}
.cart-btn:hover {
  background-color: #1d0000;
  color: aliceblue;
}
